@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(252, 162, 46);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header{

}

main{
    flex: 1;
    justify-content: center;
    align-items: center;
    display:flex;
}

.calculator{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.screen{
    height: 160px;
    color: white;
    text-align: right;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-weight: light;
}

.previous{
    padding: 10px;
    font-size: 20px;
}

.current{
    margin-bottom: 10px;
    padding: 10px;
    font-size: 60px;
}


.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    margin: 6px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.button.large{
    width: 132px;
}

.style-1{
    background-color: rgb(158, 158, 158);
}

.style-1:hover{
    background-color: rgb(108, 108, 108);
}

.style-2{
    background-color: rgb(46, 46, 46);
    color: white;
}

.style-2:hover{
    background-color: rgb(86, 86, 86);
    color: rgb(188, 188, 188);
}

.style-3{
    background-color: rgb(252, 162, 46);
    color: white;
}

.style-3:hover{
    background-color: rgb(156, 103, 33);
    color: rgb(188, 188, 188);
}

footer{
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}