@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --text-color-1: #ffffff;
    --text-color-2: #99f6e4;
    --text-color-3: #22d3ee;
    --text-color-4: #f87171;
    --text-color-5: #000000;
    --button-color: #164e63;
    --input-color: #99f6e4;
    --backgroung-img: url(./imgs/wallpaper1.jpg);
}

.dark-mode{
    --text-color-1: #d1d5db;
    --text-color-2: #1e293b;
    --text-color-3: #22d3ee;
    --text-color-4: #f87171;
    --text-color-5: #cbd5e1;
    --button-color: #164e63;
    --input-color: #0f172a;
    --backgroung-img: url(./imgs/wallpaper3.jpg);
}

body{
    display:flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: var(--backgroung-img);
    background-position: center bottom;
    font-family: ;
}

header{
    text-align: center;
    color: blue;
}

main{
    flex: 1;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

form{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);
    border-radius: 4px;
    background-color: var(--button-color);
}

form input{
    padding: 6px;
    border-radius: 4px 0 0 4px;
    border: none;
    background-color: var(--text-color-2);
    color: var(--text-color-5);
    
}

form button{
    border: none;
    background: none;
    cursor: pointer;
}

form button span{
    font-size: 48px;
    color: var(--input-color);
    padding: 0.1rem 1rem;
}

.display{
    background-color: rgba(0, 0, 0, 0.349);
    color: var(--text-color-1);
    display: flex;
    align-items: center;
    padding: 2rem;
    width: 80vmin;
    justify-content: space-between;
    border-radius: 1rem;
    position: relative;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.249);
}

.info{
    display: grid;
    width: 35vmin;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 0 1rem;
}
.temp{
    font-size: min(6rem, 12vmin);
    font-weight: 600;
    grid-column: 1/3;
}
.description{
    grid-column: 1/3;
    font-size: min(1.5rem, 4vmin);
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-align: center;
}
.wind, .humidity, .max, .min{
    font-size: min(0.8rem, 2.5vmin);
    font-weight: 600;
    justify-self: end;
}

.max{
    color: var(--text-color-4);
    font-size: 1rem;
    margin: 0 0.7rem;
}

.min{
    color: var(--text-color-3);
    font-size: 1rem;
    margin: 0 0.7rem;
}

.max, .wind{
    justify-self: start;
}

.img{
    width: 22vmin;
    height: 22vmin;
    background-position: center;
    background-repeat:no-repeat;
    background-size: contain;
}

.location{
    position: absolute;
    top: 1rem;
    right: 3rem;
}

.city{
    font-weight: 600;
    font-size: min(3.5vmin, 1.4rem);
}

.time{
    text-align: right;
    font-size: 0.8rem;
}


footer{
}

footer a{
    text-decoration: none;
}