header{
    color: red;
}

.clear{
    color: red;
}

.container{
    background-color: yellow;
    width: 720px;
    height: 720px;
    color: blue;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.square{
    box-sizing: border-box;
    background-color: white;
    /*width: 25%;
    height: 25%;*/
    flex-shrink: 0;
    border: 1px solid black;
}

.hover{
    background-color: gray;
}