.about{
    padding: 3rem;
    font-family: 'Roboto', sans-serif;
}

.portrait{
    box-shadow: 5px 10px 10px rgba(0, 0, 0, .5);
    min-width: 550px;
    height: 550px;
    background-image: url(../assets/img1.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    float: left;
    margin-top: -30px;
    margin-left: 30px;
    margin-right: 20px;
}


.name{
    color: #fff;
}

.about-me-container{
    box-shadow: 5px 10px 10px rgba(0, 0, 0, .5);
    padding:  2rem;
    margin: 1rem 60px;
    background-color: #fff;
    font-size: 28px;
}

.social{
    display: flex;
    justify-content:end;
    gap: 1rem;
    margin-top: 1rem;
}

@media (max-width: 1024px){
    .about-me-container{
    }
    .portrait{
        min-width: 300px;
        height: 300px;
    }
}

@media (max-width: 500px){
    .about{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    .about-me-container{
        margin: 0.5rem;
        background: none;
        box-shadow: none;
    }
    .portrait{
        margin: 0.5rem;
    }
}

.background{
    position: absolute;
    top: -90px;
    left: 0;
    width: 100%;
    z-index: -100;
}

.rectangle {
    height: 400px;
    background-color: #0891B2;
    border: 0;
}

.triangle {
    height: 300px;
    background: linear-gradient(to bottom right, #0891B2 0%, #0891B2 50%, #fff 50%, #fff 100%);
}