@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: yellow;
}
#img-game{
    max-width: 350px;
}

/* PLAYERS SECTION*/
#players{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    max-width: 600px;
    margin: auto;
}

.frame{
    background-color: rgb(20,20,20);
    border: 2px solid yellow;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-size: 100% 100%;
}

.score{
    margin-top: 16px;
}

#results{
    font-size: 10px;
    color: white;
}

/* BUTTONS */
#buttons-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    max-width: 600px;
    margin: auto;
}

.buttons{
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.buttons:hover{
    background-color: rgb(20,20,20);
    color: yellow;
    border-color: yellow;
}

/* MODAL*/

.modal-container{
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.modal{
    background-color: rgb(20,20,30);
    width: 60vw;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-text{
    color: white;
}
#restart{
    font-family: 'Press Start 2P', cursive;
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#restart:hover{
    background-color: rgb(185, 184, 184);
    color: rgb(20,20,20);
}

.show {
    pointer-events: auto;
    opacity: 1;
  }

  /* FOOTER */

  footer{
      color: white;
      font-size: 8px;
      padding-top: 40px;
  }
  a{
      text-decoration: none;
      color: yellow;
  }