@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

/* LAYOUT */

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

header{
    font-size: 3rem;
}

main{
    flex: 1;
}

/* CONTAINER */

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    background-color: black;
    gap: 1rem;
    width: 100%;
    padding: 2rem;
}

.card{
    border-radius: 10px;
    background-color: red;
    padding: 1rem;
    position: relative;
}

/* TODO CARD */

.project-title{

}

.checked{
    color: gray;
}

.todo{
    display: flex;
    gap: 0.8rem;
    margin: 0.5rem;
}

.check-button{

}

.todo-name{

}

.add-todo-button{
    opacity: 0;
    pointer-events: none;
}

.add-project-button{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.checked-todo{
    display: flex;
    gap: 0.8rem;
    margin: 0.5rem;
}

/* TODO FORM */

.todo-form{
    
}

/* MODAL */

.modal-container{
    display: flex;
    background-color: rgba(0,0,0,0.6);
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease;
    pointer-events: none;
    opacity: 0;
}

.modal{
    background-color: #64748b;
    width: 400px;
    padding: 40px 0 80px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.modal-text{
    color: white;
    padding-bottom: 1rem;
}

.close-modal{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}

.show {
    pointer-events: auto;
    opacity: 1;
}