@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400;500;600;700&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Mono', monospace;
}

::root{
    --text: #0f172a;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: #e4e4e7;
    color: var(--text);
}

main{
    flex: 1;
    position: relative;
}

header{
    background-color: #eee;
    align-self: stretch;
    text-align: center;
    font-weight: 700;
    padding: 30px;
    font-size: 2.5rem;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
    color: var(--text);
}

/* CONTENT */

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    width: 90vw;
    margin-top: 5vw;
}

.card{
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    position: relative;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
}

.title{
    font-size: 1.4rem;
    color: var(--text);
}

.author,
.pages{
    font-size: 1rem;
    color: #94a3b8;
}

.readBtn{
    border-style: none;
    padding: 1rem 2rem;
    margin-top: 1rem;
    border-radius: 5px;
    background-color: #64748b;
    cursor: pointer;
}

.add-button{
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    background-color: #0f172a;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
}

.add-button span{
    color:#e2e8f0;
}

.close-button{
    position: absolute;
    top: 2rem;
    right: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

/* MODAL */

.modal-container{
    display: flex;
    background-color: rgba(0,0,0,0.6);
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease;
    pointer-events: none;
    opacity: 0;
}

.modal{
    background-color: #64748b;
    width: 400px;
    padding: 40px 0 80px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.modal-text{
    color: white;
    padding-bottom: 1rem;
}

#close-modal{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

/* FORM */
form{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input{
    position: relative;
    width: 200px;
}

.input label{
    opacity: 0.3;
    position: absolute;
    top: 22px;
    left: 20px;
}

.input input{
    border: 0;
    padding: 20px 20px 20px 20px;
    background: #eee;
}

.input input:focus+label{
    opacity: 0;
}

.input input:valid{
    background-color: rgb(146, 247, 146);
}

.input input:valid+label{
    opacity: 0;
}

.input input:invalid:not(:focus):not(:placeholder-shown){
    background-color: rgb(247, 157, 157);
}

.input input:invalid:not(:focus):not(:placeholder-shown) ~ label{
    opacity: 0;
}

.input input:invalid:not(:focus):not(:placeholder-shown) ~ .requirements{
    max-height: 200px;
    padding: 0 10px 20px 0px;
}

.requirements{
    padding: 0 10px 0 0px;
    max-height: 0;
    transition: 0.28s;
    overflow: hidden;
    color: red;
    font-style: italic;
    width: 200px;
}

#upbook{
    border-style: none;
    background:none;
    cursor: pointer;
    padding: 2rem 0 0.2rem 0;
    color: #0f172a;
    font-size: 1.5rem;
    font-weight: 500;
    border-bottom: 2px solid #0f172a;
}

a{
    text-decoration: none;
    color:black;
    font-weight: 500;
}