:root{
    --color1: #663131;
    --color2: #ffffff;
    --color3: #201865;
}

*{
    margin: 0;
    padding: 0;
    color: var(--color1);
}

/* BOARD */

.grid {
    width: min(80vw, 80vh);
    height: min(80vw, 80vh);
    background-color: var(--color1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.2rem;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color3);
}

.cell span{
    color: var(--color2);
    
}